.projects {
  padding: 8rem 4rem;
}

/* Heading */
.projects h2 {
  color: #6bdc6b;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 3rem;
  align-self: center;
  justify-self: center;
  margin-top: 0;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  letter-spacing: 1px;
}

/* Projects Grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  width: 80%;
  margin: auto;
}

/* Project Card */
.project-card {
  background: white;
  border-radius: 1.5rem;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e6e6e6;
}

/* Project Image Placeholder */
.project-img {
  background: black;
  color: white;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 1rem;
  letter-spacing: 1px;
}

/* Project Title */
.project-card h3 {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Project Description */
.project-card p {
  font-size: 14px;
  margin: 10px 0;
}

/* Repository Link */
.repo-link {
  font-size: 14px;
  color: black;
  font-style: italic;
  text-decoration: none;
}

/* Responsive */
@media (max-width: 1040px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects h2 {
    text-align: center;
  }
}

@media (max-width: 680px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
